html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inria Sans", sans-serif;
    background-color: #f5f5f5;
}

.content {
    flex: 1;
    /* Ceci permet de pousser le footer vers le bas */
}

footer {
    margin-top: auto;
}

.num-pad {
    display: flex;
    flex-wrap: wrap;
    width: 240px; /* Ajustez cette largeur selon la taille souhaitée pour les boutons */
    align-items: center;
    justify-content: center;
}

.key {
    width: 70px; /* Largeur du bouton carré */
    height: 60px; /* Hauteur pour rendre le bouton carré */
    margin: 1px; /* Espacement entre les boutons */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf; /* Couleur de fond des boutons */
    cursor: pointer;
    user-select: none; /* Empêche la sélection du texte dans le bouton */
    border-radius: 5px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: font-size 0.1s ease;


}

.delete {
    width: 142px; /* Largeur pour le bouton delete, équivalent à deux boutons plus l'espacement */

}

/* Style optionnel pour améliorer l'apparence lors du clic */
.key:active {
    background-color: #b8b3b3;
}
.key:hover{
    font-size: x-large;
}


#formatted_display {
    position: absolute;
    pointer-events: none;
    color: black;
}


.form-control{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.1rem;

}
.btn{

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-brand {
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
  }

  .navbar-brand img {
    margin-right: 10px; /* Ajoute un peu d'espace entre l'image et le texte */
  }