<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez rapidement le département français associé à n'importe quel numéro de téléphone avec notre outil de conversion en ligne. Facile, rapide et précis, notre service aide à identifier l'origine des appels pour une meilleure organisation et communication. Essayez-le dès maintenant !">
    <title>Départel - Convertisseur de numéro de téléphone en départements français</title>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='departel_64.ico')}}">
    <!-- Intégration de Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c3e7b6922.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo_white_256.png')}}" width="64" height="64" class="d-inline-block align-top" alt="Logo Départel">
            <h1 class="d-inline-block mb-0">Départel</h1>
        </a>
    </nav>
    <div class="content">
        <main class="container mt-4">
            <section>
                <h2 class="mb-3">Convertir un numéro de téléphone en départements</h2>
                <form action="/resultat" method="post" class="needs-validation" novalidate>
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        <label for="{{ form.numero_telephone.id }}">{{ form.numero_telephone.label.text }} : </label>
                        {{ form.numero_telephone(class="form-control", id="numero_telephone") }}
                    </div>
                    <div class="row justify-content-center mb-4">
                        <!-- Clavier numérique -->
                        <div class="num-pad mt-4">
                            <div class="key" onclick="pressKey('1')">1</div>
                            <div class="key" onclick="pressKey('2')">2</div>
                            <div class="key" onclick="pressKey('3')">3</div>
                            <div class="key" onclick="pressKey('4')">4</div>
                            <div class="key" onclick="pressKey('5')">5</div>
                            <div class="key" onclick="pressKey('6')">6</div>
                            <div class="key" onclick="pressKey('7')">7</div>
                            <div class="key" onclick="pressKey('8')">8</div>
                            <div class="key" onclick="pressKey('9')">9</div>
                            <div class="key" onclick="pressKey('0')">0</div>
                            <div class="key delete" onclick="deleteKey()"><i class="fa-solid fa-delete-left"></i></div>
                        </div>
                    </div>
    
    
                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-arrows-rotate"></i> Convertir
                        </button>
                    </div>
                </form>
    
            </section>
        </main>
    </div>
    
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <span>&copy; 2024 Départel. Conçu avec amour pour Babe.</span>
        </div>
    </footer>

    <script>
        document.getElementById("{{ form.numero_telephone.id }}").addEventListener('input', formatInputValue);
    
        function pressKey(key) {
            // Ajoute le chiffre au champ de numéro de téléphone et formate l'entrée
            var input = document.getElementById("{{ form.numero_telephone.id }}");
            input.value += key;
            formatInputValueDirect(input); // Appelle la fonction de formatage directement avec l'input
        }
    
        function deleteKey() {
            // Supprime le dernier caractère du champ de numéro de téléphone
            var input = document.getElementById("{{ form.numero_telephone.id }}");
            var value = input.value.replace(/\s/g, ''); // Enlève les espaces pour traiter la valeur brute
            input.value = value.slice(0, -1); // Supprime le dernier chiffre
            formatInputValueDirect(input); // Reformate l'entrée après suppression
        }
    
        function formatInputValueDirect(input) {
            // Formate la valeur actuelle de l'input pour ajouter des espaces tous les deux chiffres
            var value = input.value.replace(/\s/g, ''); // Supprime d'abord tous les espaces existants
            var formattedValue = '';
            for (let i = 0; i < value.length; i += 2) {
                formattedValue += value.substring(i, i + 2) + (i < value.length - 2 ? ' ' : '');
            }
            input.value = formattedValue; // Met à jour la valeur de l'input avec la nouvelle valeur formatée
        }
    
        function formatInputValue(e) {
            // Wrapper pour appeler formatInputValueDirect lors d'événements d'input
            formatInputValueDirect(e.target);
        }
    </script>
    

    <!-- Optionnel : intégration de JavaScript de Bootstrap pour les fonctionnalités avancées -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


   <!-- Affichage espaces  -->

   <script>
    document.getElementById('numero_telephone').addEventListener('input', function(e) {
        // Enlève les espaces précédents pour traiter la chaîne brute
        let input = e.target.value.replace(/\s+/g, '');
        let formattedInput = '';
        
        // Boucle ajoutant un espace tous les deux caractères
        for (let i = 0; i < input.length; i++) {
            if (i > 0 && i % 2 === 0) {
                formattedInput += ' '; // Ajoute un espace
            }
            formattedInput += input[i];
        }
        
        e.target.value = formattedInput; // Met à jour la valeur du champ avec le formatage
    });
    </script>
    
    
    
    
</body>
</html>