<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Départel - Convertisseur Numéro de Téléphone</title>
    <!-- Intégration de Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://kit.fontawesome.com/0c3e7b6922.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bg-primary text-white py-3">
        <div class="container">
            <h1>Bienvenue sur Départel</h1>
        </div>
    </header>
    <main class="container mt-4">
        <section>
            <h2 class="mb-3">Convertir un numéro de téléphone en départements</h2>
            <form action="/resultat" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <label for="{{ form.numero_telephone.id }}">{{ form.numero_telephone.label.text }} : </label>
                    {{ form.numero_telephone(class="form-control") }}
                </div>
                <div class="row justify-content-center mb-3">
                    <!-- Clavier numérique -->
                    <div class="num-pad">
                        <div class="key" onclick="pressKey('1')">1</div>
                        <div class="key" onclick="pressKey('2')">2</div>
                        <div class="key" onclick="pressKey('3')">3</div>
                        <div class="key" onclick="pressKey('4')">4</div>
                        <div class="key" onclick="pressKey('5')">5</div>
                        <div class="key" onclick="pressKey('6')">6</div>
                        <div class="key" onclick="pressKey('7')">7</div>
                        <div class="key" onclick="pressKey('8')">8</div>
                        <div class="key" onclick="pressKey('9')">9</div>
                        <div class="key" onclick="pressKey('0')">0</div>
                        <div class="key delete" onclick="deleteKey()"><i class="fa-solid fa-delete-left"></i></div>
                    </div>
                </div>


                <div class="form-group row justify-content-center">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>

        </section>
    </main>
    <script>
        function pressKey(key) {
            // Ajoute le chiffre au champ de numéro de téléphone
            var input = document.getElementById("{{ form.numero_telephone.id }}");
            input.value += key;
        }
    
        function deleteKey() {
            // Supprime le dernier chiffre du champ de numéro de téléphone
            var input = document.getElementById("{{ form.numero_telephone.id }}");
            input.value = input.value.slice(0, -1);
        }
    </script>
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <p>&copy; 2024 Départel. Tous droits réservés.</p>
        </div>
    </footer>
    <!-- Optionnel : intégration de JavaScript de Bootstrap pour les fonctionnalités avancées -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>