<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de Conversion - Départel</title>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='departel_64.ico')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c3e7b6922.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='logo_white_256.png')}}" width="64" height="64" class="d-inline-block align-top" alt="Logo Départel">
            <h1 class="d-inline-block mb-0">Départel</h1>
        </a>
    </nav>
    <div class="container mt-5 content">
        <div class="container text-center">                
            <h2>Résultats pour <strong style="white-space: nowrap;">{{ numero_telephone }}</strong></h2>
        </div>
        <div class="mt-4">                
            <h3>Liste des départements associés :</h3>
        </div>
        {% if departements %}
            <ul class="list-group">
                {% for departement in departements %}
                    <li class="list-group-item">{{ departement }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="alert alert-warning">Aucun département associé trouvé.</p>
        {% endif %}
        <div class="text-center">
            <a href="{{ url_for('index') }}" class="btn btn-primary mt-3"><i class="fa-solid fa-house"></i> Retour à l'accueil</a>
        </div>
        
    </div>
    <footer class="text-center mt-4">
        <div class="container">
            <p>&copy; {{ now.year }} Départel. Conçu avec amour pour Babe.</p>
        </div>
    </footer>
    <!-- Intégration du JS de Bootstrap via CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
